

a{
    text-decoration: none;
    color: rgb(110, 110, 110);
}


body{
    background-color: #ececec;
    padding-bottom: 100px;
}

a:hover{
    text-decoration: none;
    color: rgb(110, 110, 110);
}



/*-----------------------------------------------
    ログインフォーム
-----------------------------------------------*/


.navibar{
    height: 40px;
    border-bottom: solid 1px #000000;
    display: flex;
}

.navibar__inner{
    padding: 0px 50px;
    width: 100%;
}

.navIncrease{
    display: flex;
    align-items: center;
}

.userImage{
    margin-left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 40px;
    background-color: rgb(255, 152, 67);
}

.navIncrease_item{
    font-size: 14px;
    line-height: 48px;
    font-weight: bold;
}

.navIncrease_item__number{
    font-size: 22px;
    line-height: 48px;
    font-weight: bold;
    padding: 0 5px;
}

.navIncrease span{
    font-size: 32px;
}

.navMeasurement{
    font-size: 14px;
    line-height: 40px;
}

.navNutrition{
    font-size: 22px;
    
}

.navNutrition_goal{
    padding: 0 5px;
    vertical-align:7%;
}

.navTodayWeight{
    font-size: 16px;
}


.registAndlogin__btn{
    display: flex;
    text-align: end;
    margin: 0 0 0 auto;
}


.nav_item{
    display: block;
    background-color: #ff2d2d;
    height: 40px;
    width: 130px;
    line-height: 40px;
    text-align: center;
    color: #fff;
}

.nav_item:nth-child(1){
    border-right: solid 1px #fff;
}




.logo{
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: #fff;
}
.logo:hover{
    color: #fff;
}



.navTodayWeight span{
    font-size: 32px;
}

.settingMenu{
    display: none;
}

.settingMenu__inner{
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.userSetting{
    position: relative;
}


.userSetting:hover{
    cursor: pointer;
}

.userSetting__list{
    display: none;
    position: absolute;
    width: 180px;
    font-size: 14px;
    background-color: #fff;
    right: 0;
    top: 38px;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 10px;
    z-index: 90;
    border-radius: 5px;
}

.userSetting__list a{
    padding: 18px 30px;
    text-decoration: none;
    color: rgb(110, 110, 110);
    width: 100%;
    display: block;
}

.userSetting__list a:hover{
    background-color: rgb(214, 214, 214);
}


.settingMenu__inner > div{

}

.backBtn{
    display: block;
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}


.backBtn{
    margin: 20px 0 0 20px;
    box-shadow: 10px 10px 25px 10px rgb(0 0 0 / 1%);
}

.arrow {

    position: relative;
    padding-right: 15px;
    color: rgb(51, 51, 51);
    text-decoration: none;
    
}
    
    .arrow::after {
    content: '';
    display: block;
    width: 12px; /* 矢印の大きさの指定 */
    height: 12px; /* 矢印の大きさの指定 */
    border-top: 3px solid #636363;
    border-left: 3px solid #636363;
    
}
    
    .arrow--right::after {
    transform: rotate(315deg); /* 矢印の角度の指定 */
    position: absolute; /* 矢印の位置の指定 */
    left: 16px; /* 矢印の位置の指定 */
    top: 14px; /* 矢印の位置の指定 */
    
}

input[type="text"]:focus {
    border: 2px solid #ff9900;
    outline: 0;
  }



/*-----------------------------------------------
    ログインフォーム＆ユーザー登録フォーム
-----------------------------------------------*/

.login__container{
    margin-top: 50px;
}

.login__title{
    font-size: 24px;
    font-weight: bold;
}

.login__form__container{
    margin-top: 30px;
}

.form-title{
    margin-bottom: 10px;
    padding-left: 8px;
}

.login__btn{
    background-color: #000;
    height: 50px;
    border-radius: 25px;
    border: none;
    margin: 40px 0 20px;
}


.mini__link a{
    color: #ff2d2d;
}

.login__form__container .form-control{
    border: none;
}



/*-----------------------------------------------
    ユーザーの現状ステータス
-----------------------------------------------*/


.userStatus{
    background-color: #d7d7d7;
}

.status_background{
    
}

.status_background__inner{
    width: 1140px;
    margin: 0 auto;
}

.userStatus__inner__pfc >div{
    position: relative;
}


.userStatus__inner{
    width: 1070px;
    padding: 60px 0;
    margin: 0 auto;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
}

.userStatus__inner__kcal{
    width: 680px;
    display: flex;
    
    margin-bottom: 30px;
    padding: 0 60px;
    justify-content: space-between;
}

.slash{
    padding-bottom: 10px;
    vertical-align: 15%;
}

.userStatus__inner__kcal > div > p:nth-of-type(1){
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.userStatus__inner__kcal > div > p > span:nth-of-type(1){
    font-size: 54px;
    font-weight: bold;
}

.userStatus__inner__kcal > div > p > span:nth-of-type(n+2){
    font-size: 20px;
    padding-left: 10px;
    font-weight: bold;
}


.userStatus__inner__pfc{
    width: 680px;
    /*height: 150px;*/
    display: flex;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 30px 60px;
    justify-content: space-between;
    margin: none;
}

.userStatus__inner__pfc > div{
    width: 165px;
    text-align: center;
}

.userStatus__inner__pfc span{
    font-size: 20px;
    font-weight: bold;
}

.userStatus__inner__pfc span:nth-of-type(n+2){
    padding-left: 5px;
}

.userStatus__inner__pfc > div > p:nth-of-type(1){
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}

.userStatus__inner__pfc .P,
.userStatus__inner__pfc .F,
.userStatus__inner__pfc .C{
    font-size: 40px;
    font-weight: bold;
}


.userStatus__inner__metabo{
    position: relative;
    width: 260px;
}


.userStatus__metabo > div {
    display: flex;
    justify-content: space-between;
}

.userStatus__weight{
    
    position: absolute;
    top: 0;
    left: 30%;
    margin: 0 auto;
}

.userStatus__weight p{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.userStatus__weight .weight{
    font-size: 50px;
    font-weight: bold;
}

.userStatus__weight  span{
    font-size: 20px;
    padding-left: 10px;
    font-weight: bold;
}

.userStatus__weight .userStatus__weight__week{
    font-size: 14px;
}

.userStatus__metabo{
    position: absolute;
    bottom: 0;
    border-radius: 30px;
    width: 260px;
    padding: 22px 25px;
    border: solid 3px #ffffff ;
}

.userStatus__metabo div:nth-of-type(3) p{
    padding: 0;
}

.userStatus__metabo p{
    font-size: 16px;
    padding-bottom: 14px;
    font-weight: bold;
    color: #ffffff;
}


.human{
    height: 245px;
    padding: 0 30px;
}

.human img{
    height: 100%;
}

.protainIcon{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: aquamarine;
    border-radius: 50px;
}


/*-----------------------------------------------
    体重測定
-----------------------------------------------*/

.todayWeight{
    height: 150px;
    background-color: #ffd300;
    display: flex;
    align-items: center;
    justify-content: center;
    animation:blink 2.5s ease-in-out infinite alternate;
}

@keyframes blink{
    0%,100% {
        background-color: #ffd300;
      }
    
      50% {
        background-color: #ffe45d;
      }
}

.todayWeight__form-control:hover{
    cursor: pointer;
}

.todayWeight__form{
    display: flex;
    align-items: center;
    width: 940px;
    
    justify-content: space-between;
}


.todayWeight__inner{
    display: flex;
}

.todayWeightFrom{
    display: flex;
    align-items: center;
}

.todayWeightFrom{
    display: flex;
    align-items: center;
}

.todayWeight__inner p {
    font-size: 24px;
    font-weight: bold;
}


.todayWeightFrom div{
    font-size: 24px;
    font-weight: bold;
    padding-left: 10px;
}

.todayWeight__form-control{
    display: block;
    width: 220px;
    height: 60px;
    padding: .375rem .75rem;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    color: #292929;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: 10px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.todayWeight__form-control::placeholder{
    color: #C4C4C4;
    font-size: 18px;
    text-align: center;
}

.todayWeight__form-control.submit{
    width: 170px;
}

/*-----------------------------------------------
    食事リスト
-----------------------------------------------*/

.topMealsList{
    margin-bottom: 0;
    background-color: #ececec;
}

.topMealsList__inner{
    width: 940px;
    margin: 0 auto;
    padding: 60px 0 60px 0;
}

.topMealsList__inner > p{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 60px;
}

.topMealsList__container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 325px;
    margin-bottom: 45px;
    overflow: scroll;
}

.topMealsList__container::-webkit-scrollbar {
    display:none;
}

.topMealsList__Box {
    width: 80px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    font-size: 12px;
    text-align: center;
    /*line-height: 100px;*/
    padding: 20px 5px;
    border-radius: 5px;
    margin: 10px 15px 10px 0;
    background-size: cover;
    box-shadow: 10px 10px 25px 10px rgb(0 0 0 / 2%);
}

.topMealsList__Box:hover{
    opacity: 0.5;
    transition: opacity 0.2s;
}


.topMealsList__Box:nth-of-type(10n) {
    margin-right: 0;
}



.net{
    width: 100px;
}

.topMealsList__Box__radio{
    display: none;
}

.topMealsList__input{
    display: none;
    justify-content: space-between;
    
}


.mealtype__meal{
    display: flex;
}

.mealtype__snack{
    display: none;
}

.mealtype__drink{
    display: none;
}



.topMealsList__group{
    display: flex;
    justify-content: center;
    
}

.mealtype__meal__tab,
.mealtype__snack__tab,
.mealtype__drink__tab{
    width: 132px;
    font-size: 20px;
    height: 55px;
    text-align: center;
    line-height: 65px;
    color: #7D7D7D;
    
}


.isActive{
    font-weight: bold;
    border: solid 2px #7D7D7D;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
    line-height: 60px;
    background-color:#ececec;
    z-index: 5;
    color: #292929;
}

.topMealsList__group__hr{
    border: solid 1px #7D7D7D;
    height: 0;
    margin: 0;
    position: relative;
    top: -2px;
    margin-bottom: 45px;
}

.eatnet{
    display: none;
    margin: 0 10px;
    width: 150px;
    height: 60px;
    padding: .375rem .75rem;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    color: #292929;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: 10px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.eatnet::placeholder{
    color: #C4C4C4;
    font-weight: normal;
}

.mealname{
    font-size: 18px;
    color: #494949;
    font-weight: bold;
}

.topMealsList__input{
    display: none;
    display: flex;
    align-items: center;
}



.topMealsList__net{
    display: flex;
    align-items: baseline;
}

.eatBtn{
    display: none;
    width: 150px;
    height: 60px;
    padding: .375rem .75rem;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    color: #292929;
    background-color: rgb(255, 161, 161);
    background-clip: padding-box;
    border: none;
    border-radius: 10px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.mealnettype{
    font-size: 18px;
    margin-right: 30px;
    font-weight: bold;
}

.topMealsList__input > p {
    margin-bottom: 0px;
}


.itemImage{
    background: center / contain no-repeat;
    background-size: cover;
    text-indent:-9999px;
    white-space: nowrap;
    overflow: hidden;
}


.noItemImage{
    color: rgb(131, 131, 131);
    font-weight: bold;
}



/*-----------------------------------------------
    プロテインエリア
-----------------------------------------------*/

.todayProtain{
    background-color: #D0D0D0;
    padding-bottom: 70px;
}

.todayProtain > p{
    font-size: 24px;
    font-weight: bold;
    padding-top: 70px;
    text-align: center;
    margin-bottom: 70px;
}

.todayProtain__tasks{
    width: 940px;
    margin: 0 auto;
}

.todayProtain__tasks__inner{
    display: flex;
    justify-content: space-between;
}

.todayProtaintask{
    width: 295px;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 100px;
    border: none;
    color: #fff;
    z-index: 0;
    text-indent:-9999px;
    white-space: nowrap;
    overflow: hidden;
    background-color: #fff;
}

a:hover{
    text-decoration: none;
    color: rgb(110, 110, 110);
}

.dailyBtn{
    display: block;
    width: 350px;
    height: 50px;
    margin: 0 auto;
    border-radius: 25px;
    background-color: #ffffff;
    color: rgb(110, 110, 110);
    border: none;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}

.todayProtaintask:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.2s;
}

.todayProtaintask__done{

}

.a .todayProtaintask{
    background-image: url(https://kurofiles.s3-ap-northeast-1.amazonaws.com/meals/1cup.png);
    z-index: 10;
}

.b .todayProtaintask{
    background-image: url(https://kurofiles.s3-ap-northeast-1.amazonaws.com/meals/2cup.png);
    z-index: 10;
}

.c .todayProtaintask{
    background-image: url(https://kurofiles.s3-ap-northeast-1.amazonaws.com/meals/3cup.png);
    z-index: 10;
}

.a .todayProtaintask__done{
    width: 295px;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 100px;
    position: relative;
    border: none;
    color: #fff;
    z-index: 0;
    background-color: rgb(71, 71, 71);
    background-image: url(https://kurofiles.s3-ap-northeast-1.amazonaws.com/meals/1cup.png);
    z-index: 10;
}


.b .todayProtaintask__done{
    width: 295px;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 100px;
    position: relative;
    border: none;
    color: #fff;
    z-index: 0;
    background-color: rgb(71, 71, 71);
    background-image: url(https://kurofiles.s3-ap-northeast-1.amazonaws.com/meals/2cup.png);
    z-index: 10;
}

.c .todayProtaintask__done{
    width: 295px;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 100px;
    position: relative;
    border: none;
    color: #fff;
    z-index: 0;
    background-color: rgb(71, 71, 71);
    background-image: url(https://kurofiles.s3-ap-northeast-1.amazonaws.com/meals/3cup.png);
    z-index: 10;
}

.todayProtaintask__done::after {
    content: '飲んだ!';
    position: absolute;
    font-size: 36px;
    top: 38%;
    left: 31%;
}

/*-----------------------------------------------
    デイリー
-----------------------------------------------*/

.daily{
    width: 940px;
    height: 330px;
    border-top: solid 4px #b7b7b7;
    margin: 0 auto 70px;
    display: flex;
    align-items: flex-end;
}

.dayContainer{
    margin-right: 15px;
}

.dayContainer:nth-of-type(6){
    
}

.dayBox{
    text-align: center;
    width: 105px;
    background-color: #b1b1b1;
    border-radius: 5px;
    line-height: 100%;
    padding: 15px 0 0;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.date{
    margin-top: 10px;
    height: 20px;
    width: 105px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.dayContainer__today{
    width: 220px;
}

.dayBox__today{
    text-align: center;
    width: 220px;
    height: 120px;
    background-color: rgb(128, 128, 128);
    border-radius: 5px;
    line-height: 100%;
    padding: 15px 0 0;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.date__today{
    margin-top: 10px;
    height: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.dayContainer:hover{
    opacity: 0.5;
    transition: opacity 0.2s;
}

.dayContainer__today:hover{
    opacity: 0.5;
    transition: opacity 0.2s;
}

/*-----------------------------------------------
    日誌詳細
-----------------------------------------------*/

.daypage_meallist{
    
    width: 900px;
    margin: 0 auto;
}

.daypage_meallist__rows__title{
    width: 800px;
    
}

.daypage_meallist__rows__title p{
    font-size: 12px;
    padding: 8px 5px;
    width: 100px;
    text-align: center;
    background-color: #636363;
    color: #fff;
    border: solid 1px #d2d2d2;
    border-right: none;
    border-bottom: none;
}

.daypage_meallist__rows__title p:first-child{
    width: 200px;
}



.daypage_meallist__rows__container{
    display: flex;
    justify-content: space-between;
}

.daypage_meallist__rows{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 800px;
    /*border: 2px solid #636363;
    border-bottom: none;*/
}

.daypage_meallist__rows{
    font-size: 12px;
}

.daypage_meallist__rows p{
    padding: 8px 5px;
    width: 100px;
    text-align: center;
    border: solid 1px #d2d2d2;
    border-right: none;
    border-bottom: none;
}

.daypage_meallist__rows p:first-child{
    width: 200px;
}

.daypage_meallist__rows p:last-child{
    border-right: solid 1px #d2d2d2;
}

.daypage_meallist__rows:nth-last-of-type(1) p{
    border-bottom: solid 1px #d2d2d2;
}



.daypage_protain__rows div{
    display: flex;
}


.daypage_protain__rows p{
    font-size: 12px;
    padding: 8px 5px;
    background-color: #fff;
    width: 100px;
    text-align: center;
    border: solid 1px #d2d2d2;
    border-right: none;
    border-bottom: none;
}


.daypage_protain__rows p:first-child{
    width: 200px;
}

.daypage_protain__rows p:last-child{
    border-right: solid 1px #d2d2d2;
}

.daypage_protain__rows:nth-last-of-type(1) p{
    border-bottom: solid 1px #d2d2d2;
}


.daypage_nutritiondate{
    width: 900px;
    margin: 30px auto 0;
}

.daypage_nutritiondate div{
    display: flex;
    font-size: 12px;
}

.daypage_nutritiondate div p{
    width: 100px;
    text-align: center;
    padding: 8px 5px;
    background-color: #fff;
    border: solid 1px #d2d2d2;
    border-right: none;
    border-bottom: none;
}

.daypage_nutritiondate div p:last-child{
    border-right: solid 1px #d2d2d2;
}

.daypage_nutritiondate div:last-child p{ 
    border-bottom: solid 1px #d2d2d2;
}

.daypage_nutritiondate div p:first-of-type{
    width: 200px;
    text-align: center;
}

.eatsdestroy_btn{
    font-size: 10px;
}



/*-----------------------------------------------
    食事登録エリア
-----------------------------------------------*/

.mealFrom{
    background-color: #ececec;
    padding: 70px 0 ;
    font-weight: bold;
}


.mealFrom__inner > p{
    text-align: center;
    font-size: 26px;
    margin-bottom: 70px;
}

.meal-form{
    width: 350px;
    height: 50px;
    border-radius: 5px;
    border: none;
    padding: 0 0 0 20px;
}

.mealFrom__inner > form > div{
    display: flex;
    align-items: center;
    width: 710px;
    margin: 0 auto;
    margin-bottom: 20px;
    
}

.mealFrom__inner > form > div > p{
    width: 150px;
    font-size: 16px;
    margin-right: 30px;
    text-align: end;
}

.mealFrom__inner > form > div > p:last-child{
    width: 150px;
    margin-left: 30px;
    font-size: 16px;
    text-align: start;
    margin-right: 0px;
}

.mealregist{
    width: 350px;
    height: 50px;
    margin: 30px auto 0;
    border-radius: 25px;
    border: none;
    background-color: #fff;
}

.mealregist:hover{
    cursor: pointer;
}

.mealFrom__inner > form > .piece{
    display: none;
}

.mealFrom__inner > form > div > select{
    padding: 0 20px;
    color: #a3a3a3;
    font-weight: bold;
}



.daily span{
    font-size: 12px;
}



/*-----------------------------------------------
    個人設定
-----------------------------------------------*/

.personal_setting__container,
.protain_setting__container{
    width: 700px;
    margin: 0px auto 0px;
}



.personal_setting__container input,
.protain_setting__container input{
    border: none;
    margin-bottom: 25px;
    padding: 0 0 0 20px;
}


.personal_setting__container p,
.protain_setting__container p{
    margin-bottom: 10px;
    color: #636363;
}


.personal_setting__container p,
.protain_setting__container p{
    margin: 0 0 10px 3px;
}


.submitBtn{
    width: 350px;
    height: 40px;
    border-radius: 50px;
    background-color: #fff;
    margin: 50px auto 0;
    display: block;
}


.personal_setting__container input::placeholder,
.protain_setting__container input::placeholder{
    color: #C4C4C4;
    font-size: 14px;
}

.personal_setting__container input,
.protain_setting__container input{
    border: none;
    margin-bottom: 25px;
    padding: 0 0 0 20px;
}


.personal_setting__container select,
.protain_setting__container select{
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}



/*-----------------------------------------------
    食品一覧ページ
-----------------------------------------------*/

.mealssetting__title{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 60px;
}

.mealtype__linkBtn{
    display: flex;
    margin: 20px auto;
    justify-content: center;
}

.mealtype__linkBtn > a{
    width: 160px;
    margin: 0 10px;
    background: rgb(255, 255, 255);
    line-height: 30px;
    border-radius: 50px;
    height: 30px;
    text-align: center;
    display: block;
}

.itemsHead p:nth-of-type(1){
    width: 150px;
}

.itemsHead{
    display: flex;
    justify-content :center;
}

.itemsHead p{
    font-size: 9px;
    width: 82px;
    padding: 8px 5px;
    text-align: center;
    border: solid 1px #d2d2d2;
    border-right: none;
    border-bottom: none;
    background-color: #fff;
}

.itemsHead p:nth-last-of-type(1){
    border-right: solid 1px #d2d2d2;
}

.itemsList > a:nth-last-of-type(1) > div > p{
    border-bottom: solid 1px #d2d2d2;
}

.item{
    width: 500px
}

.itemsHead__link:hover{
    opacity: 0.5;
    transition: opacity 0.2s;
}

.itemsList > .itemsHead p{
    background-color: #636363;
    color: #fff;
}

.itemsHead p:nth-of-type(3),
.itemsHead p:nth-of-type(4){
    width: 60px;
}


.itemsHead p:nth-of-type(5),
.itemsHead p:nth-of-type(6),
.itemsHead p:nth-of-type(7){
    width: 70px;
}

.itemsList{
    width: 1100px;
    margin: 0 auto 200px
}


/*-----------------------------------------------
    食品一覧ページ
-----------------------------------------------*/


.mealsupdate > input {
    border: none;
    margin-bottom: 25px;
    padding: 0 0 0 20px;
}

.denger{
    background-color: #d44a4a;
    color: #ffffff;
}
