
body {

    padding: 20px;
    background-color: #ececec;
}


.navibar{
    height: 50px;
    background-color: #fff;
}


.navibar__inner{
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
}

.navMeasurement{
    display: flex;
}

.todayProtaintask{

    justify-content: space-between;
}