
body {

    padding: 0px;
    background-color: #ffffff;
}


.navibar{
    height: 50px;
    background-color: #fff;
}





.navibar__inner{
    display: flex;
    justify-content: space-between;
}

.navMeasurement{
    display: flex;
}

.todayProtaintask{

    justify-content: space-between;
}


@media screen and (min-width:200px) and ( max-width:1024px) {



    
    .logo{
        font-size: 10px;
        height: 100%;
    }
    
    
    .navIncrease_item{
        font-size: 10px;
    }
    
    
    
    
    
    
    
    
    
    
}    